<div class="container">
  <div class="translate-tool clearfix py-2 border-bottom">
      <div class="google-translate d-inline">
        <span>Select Language</span>
      </div>
      <div class="d-flex float-right">
        <div class="d-flex align-items-center mr-2">
          <img src="../../../assets/img/flags/flag-vi.png" alt="flag-vi" class="flag-icon mr-2">
          <span>Việt Nam</span>
        </div>
        <div class="d-flex align-items-center">
          <img src="../../../assets/img/flags/flag-jp.png" alt="flag-jp" class="flag-icon mr-2">
          <span>日本語</span>
        </div>
      </div>
    </div>
    <nav class="navbar navbar-expand-lg navbar-light py-4">
        <a class="navbar-brand" routerLink="/home"><img src="../../../assets/img/logos/logo.png" alt="logo"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-Menu" aria-controls="navbar-Menu" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse flex-row-reverse" id="navbar-Menu">
          <ul class="navbar-nav">
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Trang chủ</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Giới thiệu</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Tuyển dụng</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Kết nối thương mại</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Biên phiên dịch</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Du học Nhật Bản</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Tin tức</a>
            </li>
            <li class="nav-item py-xl-2">
              <a class="nav-link fs-14 font-weight-bold" href="#">Liên hệ</a>
            </li>
          </ul>
        </div>
      </nav>
</div>