<div class="home-news-list">
  <div class="container py-5">
    <div class="row mx-0">
      <div class="col-sm-6">
        <h6 class="text-danger text-uppercase font-weight-bold mb-xl-4">Sự kiện</h6>
        <div class="home-event-box">
          <div class="row">
            <div class="col-sm-6 mb-4 mb-xl-0">
              <div class="img-event">
                <img src="../../../assets/img/home-news-event/home-news-event-1.png" alt="home-news-event-1" class="w-100">
              </div>
            </div>
            <div class="col-sm-6">
              <div class="event-info">
                <div class="title text-justify mb-2">
                    <a href="/home/post/110/dung-so-tuong-lai-dung-cau-ne-qua-khu-hay-song-voi-hien-tai.html" class="text-black text-no-underline fs-18 mb-3">"Đừng sợ tương lai, đừng câu nệ quá khứ, hãy sống với hiện tại!"</a>
                </div>
                <p class="text-justify">
                  "Sau khi tốt nghiệp, các bạn đã tìm được việc làm và rất có thể đã nghĩ mình sẽ có cuộc đời bình thường khi làm ở cùng một công ty cho đến lúc về hưu, trong khoảng thời gian đó thì lập gia đình, xây nhà. Tuy nhiên, tôi nghĩ sẽ chỉ có một bộ phận các bạn thật sự có tương lai như thế..."
                </p>
                <a href="" class="bg-red fs-13 p-1 text-white text-no-underline read-more">Xem thêm</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-3 mb-4 mb-xl-0">
          <h6 class="text-danger text-uppercase font-weight-bold mb-xl-4">tư vấn tuyển dụng</h6>
          <div class="recruitment-news text-justify">
            <div class="item mb-2">
              <a href="" class="fs-14 text-no-underline font-weight-bold">Thông Báo Tuyển Sinh Du Học Nhật Bản 2017</a>
            </div>
            <div class="item mb-2">
              <a href="" class="fs-14 text-no-underline font-weight-bold">Đến Koyama Seiki Học Về Dây Chuyền Kỹ Thuật Hiện Đại Của Nguời Nhật</a>
            </div>
            <div class="item">
              <a href="" class="fs-14 text-no-underline font-weight-bold">Nhân Viên Tổng Hợp - Lộ Trình Trở Thành Quản Lý Tương Lai?</a>
            </div>
          </div>
      </div>
      <div class="col-sm-3">
          <h6 class="text-danger text-uppercase font-weight-bold mb-xl-4">tư vấn đầu tư</h6>
          <div class="consultant-investment text-justify">
            <div class="item mb-2">
              <a href="" class="fs-14 text-no-underline font-weight-bold">DANH SÁCH DOANH NGHIỆP TUYỂN DỤNG LÀM VIỆC TẠI NHẬT BẢN</a>
            </div>
            <div class="item mb-2">
              <a href="" class="fs-14 text-no-underline font-weight-bold">WORK IN JAPAN-DỰ ÁN TUYỂN DỤNG LÀM VIỆC TẠI NHẬT BẢN</a>
            </div>
            <div class="item">
              <a href="" class="fs-14 text-no-underline font-weight-bold">CHÍNH PHỦ NHẬT BẢN HỖ TRỢ DỆT MAY VIỆT NAM</a>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>