<div class="home-intro-card mx-3 mx-xl-0">
  <div class="intro-cover-image box-shadow-gray mb-3 mb-xl-0">
    <div class="intro-cover-image-mobile d-block d-xl-none">
      <img src="../../../assets/img/home-intro-card/bg-img-cover.jpg" alt="bg-img-cover" class="w-100">
    </div>
    <div class="container py-5">
      <div class="text-center mb-3">
        <img src="../../../assets/img/home-intro-card/shakehand.png" alt="shakehand" class="d-none d-xl-inline-block">
        <img src="../../../assets/img/home-intro-card/shakehand_red.png" alt="shakehand" class="d-inline-block d-xl-none">
      </div>
      <div class="text-center text-uppercase mb-3">
        <span class="border-bottom text-red text-xl-white font-weight-bold fs-24 pb-3 px-3">Kết nối thương mại</span>
      </div>
      <div class="text-center text-uppercase">
        <span class="border-top pt-2"><span class="fs-24 font-weight-bold px-1 opacity-0">Kết nối thương mại</span></span>
      </div>
      <div class="mb-4 subtitle text-center text-black text-xl-white text-uppercase">
        <p class="mb-2 fs-18">Tư vấn đầu tư</p>
        <p class="mb-2 fs-18">Hỗ trợ điều tra thị trường</p>
        <p class="mb-2 fs-18">Tổ chức gặp gỡ</p>
      </div>
      <div class="button-group font-weight-bold text-center text-uppercase">
        <a href="" class="col-xl-2 d-inline-block border-dash-white text-red text-xl-white text-no-underline py-1 w-100 item mr-xl-4 mb-3 mb-xl-0">Đăng ký kết nối</a>
        <a href="" class="col-xl-2 d-inline-block border-dash-white text-red text-xl-white text-no-underline py-1 w-100 item">Xem chi tiết</a>
      </div>
    </div>
  </div>
  <div class="row mx-0">
    <div class="col-sm-6 px-0 d-inline-block d-xl-none">
      <div class="intro-image">
        <img src="../../../assets/img/home-intro-card/home-intro-card-1.jpg" alt="home-intro-card-1" class="w-100">
      </div>
    </div>
    <div class="intro-content col-sm-6 px-xl-0 py-5 bg-blue-sky mb-3 mb-xl-0">
      <div class="mb-5 pl-xl-5">
          <h4 class="title text-uppercase mb-3">Phiên dịch / Biên dịch</h4>
          <p class="subtitle text-uppercase">Đội ngũ biên dịch, phiên dịch viên chuyên nghiệp, giàu kinh nghiệm</p>
          <p><i class="fa fa-angle-right text-center fs-13 mr-2" aria-hidden="true"></i>Đảm bảo văn bản dịch đúng nghĩa, đúng văn phong</p>
          <p><i class="fa fa-angle-right text-center fs-13 mr-2" aria-hidden="true"></i>Có thể phái cử nhân sự tháp tùng công tác trong nước và nước ngoài</p>
          <p><i class="fa fa-angle-right text-center fs-13 mr-2" aria-hidden="true"></i>Gửi báo giá ngay trong vòng 2 tiếng</p>
      </div>
      <div class="row mx-0 text-center button-group">
          <div class="offset-xl-2 col-xl-4">
              <a href="" class="item d-inline-block fs-14 border-black text-uppercase text-black text-no-underline font-weight-bold py-1 w-100 mb-1 mb-xl-0">Điện thoại liên hệ</a>
          </div>
          <div class="col-xl-4">
              <a href="" class="item d-inline-block fs-14 border-black text-uppercase text-black text-no-underline font-weight-bold py-1 w-100">Xem chi tiết</a>
          </div>
      </div>
    </div>
    <div class="col-sm-6 px-0 d-none d-xl-inline-block">
      <div class="intro-image">
        <img src="../../../assets/img/home-intro-card/home-intro-card-1.jpg" alt="home-intro-card-1" class="w-100">
      </div>
    </div>
    <div class="col-sm-6 px-0">
      <div class="intro-image">
        <img src="../../../assets/img/home-intro-card/home-intro-card-2.jpg" alt="home-intro-card-2" class="w-100">
      </div>
    </div>
    <div class="intro-content col-sm-6 px-xl-0 py-5 bg-blue">
      <div class="mb-5 pl-xl-5">
          <h4 class="title text-uppercase mb-3">Tư vấn du học Nhật Bản</h4>
          <p class="subtitle text-uppercase">Đại diện của trên 200 trường Nhật ngữ, Cao đẳng, Đại học</p>
          <p><i class="fa fa-angle-right text-center fs-13 mr-2" aria-hidden="true"></i>Tỉ lệ visa đạt 100%</p>
          <p><i class="fa fa-angle-right text-center fs-13 mr-2" aria-hidden="true"></i>Hỗ trợ việc làm thêm tại Nhật Bản</p>
          <p><i class="fa fa-angle-right text-center fs-13 mr-2" aria-hidden="true"></i>Miễn phí giới thiệu việc làm sau khi tốt nghiệp</p>
      </div>
      <div class="row mx-0 text-center button-group">
          <div class="offset-xl-2 col-xl-4">
              <a href="" class="item d-inline-block fs-14 border-black text-uppercase text-black text-no-underline font-weight-bold py-1 w-100 mb-1 mb-xl-0">Hotline Tư vấn</a>
          </div>
          <div class="col-xl-4">
              <a href="" class="item d-inline-block fs-14 border-black text-uppercase text-black text-no-underline font-weight-bold py-1 w-100">Xem chi tiết</a>
          </div>
      </div>
    </div>
  </div>
</div>