<div class="footer">
  <div class="footer-header py-5">
    <div class="container">
      <div class="row mx-0">
        <div class="col-xl-4 border-xl-right mb-4 mb-sm-0">
            <p class="fs-16 font-weight-bold">CÔNG TY CP LIÊN KẾT VIỆT NHẬT<br>VIETNAM JAPAN LINK JSC <br>(VIJA Link)</p>
            <p class="fs-13 mb-1">Địa chỉ : TẦNG 6, SỐ 9 TÔ HIẾN THÀNH,<br> Q.HAI BÀ TRƯNG, HÀ NỘI</p>
            <p class="fs-13 mb-1">Tel1: (+84)024 3577 2008</p>
            <p class="fs-13 mb-1">Tel2: (+84)024 3944 9323</p>
            <p class="fs-13 mb-1">Fax: (+84)024 3577 2007</p>
            <p class="fs-13 mb-1">Email: info@vjl.com.vn</p>
        </div>
        <div class="col-xl-4 border-xl-right d-none d-xl-block">
            <div><a href="" class="text-no-underline">VIJA Link., JSC | Công Ty Cổ phần Liên Kết Việt Nhật</a></div>
            <div><a href="" class="text-no-underline">Giới thiệu</a></div>
            <div><a href="" class="text-no-underline">Tuyển dụng</a></div>
            <div><a href="" class="text-no-underline">Kết nối thương mại</a></div>
            <div><a href="" class="text-no-underline">Biên phiên dịch</a></div>
            <div><a href="" class="text-no-underline">Du học Nhật Bản</a></div>
            <div><a href="" class="text-no-underline">Liên hệ</a></div>
        </div>
        <div class="col-xl-4">
            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Ffacebook&tabs=timeline&width=315&height=239&small_header=false&adapt_container_width=true&hide_cover=false&show_facepile=true&appId" width="315" height="239" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true" allow="encrypted-media"></iframe>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-body py-4">
    <div class="container">
      <p class="text-center text-white mb-3">Bạn cần thông tin chi tiết hơn?</p>
      <div class="row mx-0 text-center font-weight-bold fs-11">
          <div class="col-4 px-1 px-xl-2">
            <a href="" class="d-inline-block text-no-underline border-bold px-xl-3 py-2 w-100"><i class="fa fa-angle-right"></i> LIÊN HỆ<span class="d-none d-xl-inline"> VỚI CHÚNG TÔI</span></a>
          </div>
          <div class="col-4 px-1 px-xl-2">
            <a href="" class="d-inline-block text-no-underline border-bold px-xl-3 py-2 w-100"><i class="fa fa-angle-right"></i> <span class="d-none d-xl-inline"> CÁC CÂU HỎI THƯỜNG GẶP</span><span class="d-inline d-xl-none"> FAQ</span></a>
          </div>
          <div class="col-4 px-1 px-xl-2">
            <a href="" class="d-inline-block text-no-underline border-bold px-xl-3 py-2 w-100"><i class="fa fa-angle-right"></i> <span class="d-none d-xl-inline"> ĐĂNG KÝ NHẬN TIN TỨC</span><span class="d-inline d-xl-none"> NHẬN TIN</span></a>
          </div>
        </div>
    </div>
  </div>
  <div class="container">
    <div class="footer-bottom">
        <div class="row">
            <div class="col-sm-6 d-flex align-items-center">
              <p class="copyright-text fs-14 fs-xl-16 mb-0">
                © 2018 VIJA Link 
                - Designed by <a href="http://activeuser.co" class="text-danger">Active User Co., LTD</a>
              </p>
            </div>
            <div class="col-sm-6 text-center text-xl-right">
              <div class="social-nav">
                <a href="" class="social-item d-inline-block text-white px-3 py-2"><i class="block fa fa-facebook fa-lg"></i></a>
                <a href="" class="social-item d-inline-block text-white px-3 py-2"><i class="block fa fa-twitter fa-lg"></i></a>
                <a href="" class="social-item d-inline-block text-white px-3 py-2"><i class="block fa fa-linkedin fa-lg"></i></a>
                <a href="" class="social-item d-inline-block text-white px-3 py-2"><i class="block fa fa-youtube-play fa-lg"></i></a>
              </div>
            </div>
          </div>
    </div>
  </div>
</div>