@import "../../assets/sass/colors";

#home-slider {
    .control-carousel-prev, .control-carousel-next {
        position: absolute;
        top: 38%;
        background-color: $color-red;
    }
    .control-carousel-prev {
        left: 2%;
    }
    .control-carousel-next {
        right: 2%;
    }
    .fa {
        color: $color-white;
    }
}
@media screen and (min-width: 1140px) {
    .carousel-item {
        height: 400px;
    }
    .control-carousel-prev, .control-carousel-next {
        top: 48% !important;
    }
}