$color-dark: #444;
$color-gray: #ccc;
$color-black: #333;
$color-white: #fff;
$color-red: #ee343a;
$color-blue-sky-home-intro-card: #109bc0;
$color-blue-home-intro-card: #3660a4;
$color-bg-footer: #555555;