.fs-8 {
    font-size: .5rem;
}
.fs-9 {
    font-size: .5625rem;
}
.fs-10 {
    font-size: .625rem;
}
.fs-11 {
    font-size: .6875rem;
}
.fs-12 {
    font-size: .75rem;
}
.fs-13 {
    font-size: .8175rem;
}
.fs-14 {
    font-size: .875rem;
}
.fs-15 {
    font-size: .9375rem;
}
.fs-16 {
    font-size: 1rem;
}
.fs-18 {
    font-size: 1.125rem;
}
.fs-24 {
    font-size: 1.5rem;
}
@media screen and (min-width: 1140px) {
    .fs-xl-8 {
        font-size: .5rem;
    }
    .fs-xl-9 {
        font-size: .5625rem;
    }
    .fs-xl-10 {
        font-size: .625rem;
    }
    .fs-xl-11 {
        font-size: .6875rem;
    }
    .fs-xl-12 {
        font-size: .75rem;
    }
    .fs-xl-13 {
        font-size: .8175rem;
    }
    .fs-xl-14 {
        font-size: .875rem;
    }
    .fs-xl-15 {
        font-size: .9375rem;
    }
    .fs-xl-16 {
        font-size: 1rem;
    }
    .fs-xl-18 {
        font-size: 1.125rem;
    }
    .fs-xl-24 {
        font-size: 1.5rem;
    }
}