.text-no-underline {
    text-decoration: none;
    &:hover {
        text-decoration: none;  
    }
}
.text-wrap {
    word-wrap: break-word;
}
.text-justify {
    text-align: justify;
}
.text-red {
    color: $color-red;
}
.text-black {
    color: $color-black;
}

@media screen and (min-width: 1140px) {
    .text-xl-white {
        color: $color-white;
    }
    .text-xl-black {
        color: $color-black;
    }
}